.container
  .row
    .col-sm-12
      .page-header
        h1 Rabbits on the move
          small finally, a Retro Travel Claim Form
  .row
    .col-sm-12
      .h2 Submit Claims
  .row
    .col-sm-3
      .grid_header Claim Item
    .col-sm-3
      .grid_header Description
    .col-sm-3
      .grid_header Reference
    .col-sm-3
      .grid_header Amount
  .row
    .col-sm-3
      input(type="text"id="item")
    .col-sm-3
      input(type="text"id="description")
    .col-sm-3
      input(type="text"id="reference")
    .col-sm-3
      input(type="text"id="amount")
  table.table-striped.rotm_table
    thead.display_table
      tr
        th.table_header(width="25%") Claim Item
        th.table_header(width="25%") Description
        th.table_header(width="25%") Reference
        th.table_header(width="25%") Amount
  .row
    .col-sm-12
      form(class="navbar-form"action="/profile-list")
        button(class="btn"class="btn-default"type="submit") Save
