.container
  .row
    .col-sm-12
      .page-header
        .row
          .col-sm-10
            h1 Rabbits on the move
              small finally, a Retro Travel Claim Form
          .col-sm-2
            span(class="g-signinBtn")
              div(class="g-signin2"data-onsuccess="onSignIn")
