.container
  .row
    .col-sm-12
      .page-header
        h1 Rabbits on the move
          small    finally, a Retro Travel Claim Form
  .row
    .col-sm-12
      .h2 Profile
    .col-sm-4
     table.table-striped
      thead
        tr
          th Email
          th Name
      tbody
        tr
          td 
            span #{email}
          td 
            span #{name}
