.container
  .row
    .col-sm-12
      .page-header
        h1 Profiles
  .row
    .col-sm-4
     table.table-striped
      thead
        tr
          th Email
          th Name
          th Surname
      tbody
        tr
          td Wayne@retrorabbit 
          td Wayne
          td Steedman