.container
  .row
    .col-sm-12
      .page-header
        h1 Profiles
  .row
    .col-sm-12
     table.table
      thead
        tr
          th Email
          th Name
          th Surname
          th
      tbody
        tr
          td Wayne@retrorabbit.co.za 
          td Wayne
          td Steedman
          td
           button(type="button") Select
        tr
          td bongani@retrorabbit.co.za 
          td Bongani
          td Sibiya
          td
           button(type="button") Select
        tr
          td Chris@retrorabbit.co.za
          td Chris
          td Solomon
          td
           button(type="button") Select
        tr
          td Mariam@retrorabbit.co.za 
          td Mariam
          td Mkwenza
          td
           button(type="button") Select