.container
  .row
    .col-sm-12
      .page-header
        h1 Rabbits on the move
          small    finally, a Retro Travel Claim Form
  .row
    .col-sm-12
      h2 Profile
      p
  .row
    .col-sm-4 Name
    .col-sm-8  #{name}
  .row
    .col-sm-4 Email
    .col-sm-8 #{email}
  .row
    .col-sm-4 Total claim count
    .col-sm-8 #{counter}
  .row
    .col-sm-12
      form(class="navbar-form"action="/profile-list")
          button(class="btn"class="btn-default"type="submit") List Profiles
  .row
    .col-sm-12
      form(class="navbar-form"action="/claims")
        button(class="btn"class="btn-default"type="submit") Add Claim
  .row
    .col-sm-12
      form(class="navbar-form"action="/users")
        button(class="btn"class="btn-default"type="submit") Users