body {
    background-color: #212121;
    color: white !important;
}
 
td {
    color: black;
}

#g-signinBtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid_header {
    font-size: 15px;
    color: #aaa;
}

.rotm_table {
    width: 100%;
    margin-top: 30px;
}

.table_header {
    padding-right: 15px;
}
